.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--header-cor);

    padding: 0.5rem 1rem;

    box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.16);
}

.cabecalho__menu i::before,
.cabecalho__notificacao i::before {
    font-size: 1.5rem;
    
    content: "\e904";
}

.cabecalho__notificacao i::before {
    content: "\e906";
}

.cabecalho__perfil {
    display: none;
}

.menu-lateral {
    display: flex;
    flex-direction: column;

    background-color: var(--header-cor);

    width: 70vw;
    height: 100vh;

    position: absolute;
    left: -100vw;

    transition: .25s;
}

.menu-lateral--ativo {
    left: 0;

    transition: .25s;
}

.menu-lateral__logo {
    align-self: center;

    width: 7.375rem;

    padding: 1rem;
}

.menu-lateral__link {
    display: flex;
    align-items: center;
    
    padding-left: 4rem;
    
    height: 4rem;

    color: var(--cinza);

    text-decoration: none;
}

.menu-lateral__link--ativo {
    color: var(--branco);

    padding-left: 3.5rem;

    border-left: 0.5rem solid var(--branco);
}

.menu-lateral__link::before {
    content: "";
    
    width: 1.5rem;

    height: 1.5rem;
    
    font-size: 1.5rem;

    position: absolute;

    left: 1.5rem;
}

.menu-lateral__link--inicio::before {
    content: "\e902";
}

.menu-lateral__link--videos::before {
    content: "\e90e";
}

.menu-lateral__link--picos::before {
    content: "\e909";
}

.menu-lateral__link--integrantes::before {
    content: "\e903";
}

.menu-lateral__link--camisas::before {
    content: "\e900";
}

.menu-lateral__link--pinturas::before {
    content: "\e90a";
}

@media (width >= 1440px) {
    .cabecalho {
        background-color: var(--cor-de-fundo);

        display: grid;
        grid-template-columns: 1fr auto;
        column-gap: 2rem;
        grid-column: 2;

        padding: 1rem 3.75rem;

        height: 5rem;

        box-sizing: border-box;
    }

    .cabecalho__menu {
        display: none;
    }

    .cabecalho__logo {
        display: none;
    }

    .cabecalho__perfil {
        display: grid;
        grid-template-columns: repeat(3, auto);
        column-gap: 0.5rem;
        align-items: center;
        justify-self: flex-end;

        color: var(--cinza);

        padding: 0.5rem 2rem;

        border-right: 0.0625rem solid var(--cinza);
    }

    .cabecalho__perfil::before {
        content: "";

        display: block;

        width: 2rem;
        height: 2rem;

        background-image: url("/img/profile_2.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .cabecalho__perfil::after {
        content: "\e90d";

        color: var(--branco);

        font-size: 1.5rem;
    }

    .menu-lateral {
        position: static;

        width: 12.5rem;

        grid-column: 1;
        grid-row: 1 / span 2;
    }
}
